<h1 class="animated fadeIn fast"> Sobre Comic App</h1>
<hr />
<p class="animated fadeIn fast">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, eius quae velit
  esse ipsum nesciunt corrupti corporis quis ex libero cum aperiam vitae
  recusandae facere! Eius incidunt vero obcaecati facere. Vero, fuga cupiditate
  tenetur, exercitationem voluptate minus consequuntur consequatur repellat
  mollitia voluptatibus quisquam quae a eveniet totam delectus, nihil dicta.
  Sint ad natus cum debitis aliquam veritatis, maiores porro laborum! Quas,
  impedit placeat unde excepturi deserunt saepe consectetur. Soluta a voluptate
  velit tempora, voluptatem magnam facere doloremque quam cupiditate earum, iure
  ex fugit maiores itaque illum? Accusamus culpa rem odit! Voluptatem, pariatur.
  Qui fugiat dolore sint. In eligendi nam, quis doloremque sunt maxime excepturi
  eveniet eum deleniti iste ratione esse reiciendis doloribus beatae, eos vel,
  obcaecati iusto molestiae maiores consequuntur. Sit labore ut ex illum tenetur
  soluta perspiciatis nesciunt, earum maiores numquam praesentium maxime id iure
  voluptas doloremque eligendi libero corrupti quo rem asperiores cum eveniet.
  Labore ea sapiente rerum. Modi, quisquam. Sequi blanditiis illum reiciendis,
  impedit modi odio, ea sint earum ut ex eos voluptatibus, vel facilis animi
  laboriosam itaque praesentium saepe hic? Exercitationem cumque at tempora
  accusantium amet? Pariatur rem corporis, labore tenetur debitis cum facilis
  odit, asperiores aliquam beatae, eum veniam ab ipsum totam eligendi mollitia?
  Quo vero modi distinctio eum nesciunt iure perspiciatis adipisci repudiandae
  ipsam? Saepe commodi excepturi obcaecati tenetur illum? Ipsam temporibus
  itaque maxime modi, voluptatem molestias ad corrupti ducimus fuga
  reprehenderit, odit architecto? Saepe autem nisi unde maxime ut soluta
  pariatur minima eveniet. Ducimus, error quibusdam! Sapiente quidem accusamus
  eaque itaque illum, eligendi animi. Ratione adipisci voluptate, enim, minima
  nam necessitatibus quidem placeat consectetur pariatur quam earum nobis
  aperiam perspiciatis optio eveniet sint! Perspiciatis possimus velit quia
  perferendis reiciendis numquam, qui saepe porro quos, autem modi, quaerat vero
  maxime facere optio iure excepturi ex deleniti! Praesentium aspernatur,
  ducimus alias officia repellendus nulla deserunt.
</p>
